<h2>Create a new drone</h2>
<form action ="/drones/create" method = "POST">
<label class=" form-label" for="name">Name</label>
<input type = "text" name= "name" id="name" value="" placeholder="Name of drone"/>

<label class=" form-label" for="propellers">Propellers</label>
<input type = "Number" name= "propellers" id="propellers" value="" placeholder="Number of propellers"/>

<label class=" form-label" for="maxSpeed">Max Speed</label>
<input type = "Number" name= "maxSpeed" id="maxSpeed" value="" placeholder="Max speed of drone"/>
<button type="submit">SUBMIT</button> 
</form>