<h2>Update the drone</h2>

<form action ="/drones/{{id}}/edit" method = "POST">
<label class=" form-label" for="name">Name</label>
<input class = "form-input" type = "text" name= "name" id="name" value="{{drone.name}}" />

<label class=" form-label" for="propellers">Propellers</label>
<input class = "form-input" type = "Number" name= "propellers" id="propellers" value="{{drone.propellers}}" />

<label class=" form-label" for="maxSpeed">Max Speed</label>
<input class = "form-input"  type = "Number" name= "maxSpeed" id="maxSpeed" value="{{drone.maxSpeed}}" />
<button type="submit">UPDATE</button>
</form>
 
